POSTGRES_USER=lavapro
POSTGRES_PASSWORD=lavapropass!123
POSTGRES_DB=lavapro_api
POSTGRES_PORT=5432

DATABASE_URL=postgresql://lavapro:lavapropass!123@db:5432/lavapro_api

APP_ENV=development
PROJECT_NAME=LavaPro API