POSTGRES_USER=lavapro
POSTGRES_PASSWORD=lavapropass!123
POSTGRES_DB=lavapro_api
POSTGRES_PORT=5432

DATABASE_URL=postgresql://lavapro:lavapropass!123@db:5432/lavapro_api

APP_ENV=development
PROJECT_NAME=LavaPro API

SECRET_KEY=<YOUR_SECRET_KEY>
ALGORITHM=<YOUR_ALGORITHM>
ACCESS_TOKEN_EXPIRE_MINUTES=60

MAIL_SERVER=live.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=api
MAIL_PASSWORD=<YOUR_MAIL_PASSWORD>
MAIL_FROM=no-reply@lavapro.online
MAIL_FROM_NAME=LavaPro

FRONTEND_URL=http://127.0.0.1:8000/